.nav-container {
    border: solid black thin;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.nav-item {
    border: solid thin black;
    width: 5rem;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.nav-item:hover {
    background-color: lavender;
    transform: scale(1.1);
}
